# Integer and float

In [1]:
answer = 42

In [2]:
pi = 3.14

In [3]:
answer+pi

45.14

In [4]:
int(pi)

3

In [5]:
float(answer)

42.0

# String

In [6]:
'Hello word' #string

'Hello word'

In [7]:
"Hello world" # string, same as before

'Hello world'

In [8]:
"""Hello world""" # same as before but often used for documentation etc

'Hello world'

In [10]:
"hello".capitalize()

'Hello'

In [11]:
"Hello".replace("e", "a")

'Hallo'

In [12]:
"hello".isalpha()

True

In [13]:
"123".isdigit() # useful when converting to int

True

In [14]:
"some, csv, values".split(",")

['some', ' csv', ' values']

In [19]:
name = "Akash Giri"
machine = "HAL"
print("Nice to meet you {0}. I am {1}".format(name, machine))
print(f"Nice to meet you {name}. I am {machine}")

Nice to meet you Akash Giri. I am HAL
Nice to meet you Akash Giri. I am HAL

In [20]:
r"I am akash giri \n" # r is used for raw string

'I am akash giri \\n'

# Boolean and None

In [21]:
python_course = True
java_course = False 
print(int(python_course))
print(int(java_course))
print(str(python_course))

1
0
True

In [22]:
aliens_found = None # same as null

# If statements

In [23]:
number = 5
if number == 5:
    print("number is 5")
else:
    print("not 5")

number is 5

In [24]:
number = 5
if number: 
    print("Number is defined and truthy") # any number other than 0 has a truthy value

text = "Python"
if text:
    print("Text is defined and truthy") # any string other than empty string has a truthy value

Number is defined and truthy
Text is defined and truthy

In [26]:
python_course = True
if python_course:
    print("This will execute")
    
if python_course != 5:
    print("This should also execute")
    
aliens_found = None
if aliens_found:
    print("This will not execute")

This will execute
This should also execute

In [30]:
number = 3
python_course = True
if number == 3 and python_course:
    print("This will execute")
    
if number == 6 or python_course:
    print("This will also execute")

This will execute
This will also execute

In [31]:
a = 1
b = 2
"bigger" if a > b else "Smaller"

'Smaller'

# List

In [32]:
list_elmt = ["akash", "giri", "manny", "baba"]
list_elmt[-1]

'baba'

In [33]:
list_elmt[0] = "replaced"

In [34]:
list_elmt

['replaced', 'giri', 'manny', 'baba']

In [35]:
list_elmt.append("appended")

In [36]:
list_elmt

['replaced', 'giri', 'manny', 'baba', 'appended']

In [37]:
'giri' in list_elmt

True

In [38]:
len(list_elmt)

5

In [39]:
del list_elmt[2] # giri is no longer in the list, not even assign as none

In [40]:
list_elmt

['replaced', 'giri', 'baba', 'appended']

In [41]:
list_elmt[1:] # ignore first element

['giri', 'baba', 'appended']

In [42]:
list_elmt[1:-1] # ignore first and last element

['giri', 'baba']

# Loops

In [43]:
for name in list_elmt:
    print("Name is {0}".format(name))

Name is replaced
Name is giri
Name is baba
Name is appended

In [44]:
x = 10
for index in range(10):
    x += 10
    print("Value of x is {0}".format(x))

Value of x is 20
Value of x is 30
Value of x is 40
Value of x is 50
Value of x is 60
Value of x is 70
Value of x is 80
Value of x is 90
Value of x is 100
Value of x is 110

In [46]:
for index in range(4,9):
    print(index)

4
5
6
7
8

In [47]:
for index in range(2,7,2): 
    print(index) # increment by 2

2
4
6

# Break and continue

In [48]:
names = ["pinky", "rinky", "chinky", "minky"]

for name in names:
    if name == "chinky":
        print("Found {0}".format(name))
    print("Currently testing {0}".format(name))

Currently testing pinky
Currently testing rinky
Found chinky
Currently testing chinky
Currently testing minky

In [49]:
names = ["pinky", "rinky", "chinky", "minky"]

for name in names:
    if name == "chinky":
        print("Found {0}".format(name))
        break
    print("Currently testing {0}".format(name))

Currently testing pinky
Currently testing rinky
Found chinky

In [50]:
names = ["pinky", "rinky", "chinky", "minky"]

for name in names:
    if name == "chinky":
        continue # will skip when chinky is matched
        print("Found " + name)
    print("Currently testing " + name)

Currently testing pinky
Currently testing rinky
Currently testing minky

# While loop

In [1]:
x = 0
while x < 10:
    print("Count is {0}".format(x))
    x += 1

Count is 0
Count is 1
Count is 2
Count is 3
Count is 4
Count is 5
Count is 6
Count is 7
Count is 8
Count is 9

# Dictionaries

In [10]:
names_and_class = {
    "akash": 1,
    "giri": 2,
    "manny": 3
}
print(names_and_class["akash"])

names_and_class["does not exist"] # == keyError
names_and_class.get("does not exist", "unknown") # unknown as a default argument to prevent from keyError

1

KeyError: 'does not exist'

In [15]:
print(names_and_class.keys())
print(names_and_class.values())

dict_keys(['akash', 'giri', 'manny'])
dict_values([1, 2, 3])

In [4]:
group_of_dict = [
    {"name": "akash", "class": 2},
    {"hobby": "meh", "marks": 0}
]

In [5]:
group_of_dict

[{'name': 'akash', 'class': 2}, {'hobby': 'meh', 'marks': 0}]

# Exceptions

In [16]:
student = {
    "name": "Akash Giri",
    "student_id": 3,
    "feedback": None
}

student["father name"]

KeyError: 'father name'

In [17]:
try: 
    father_name = student["fathe name"]
except KeyError:
    print("Error finding last name")
print("Code executed")

Error finding last name
Code executed

In [20]:
student["father_name"] = "Ram Awadh"
try: 
    father_name = student["father_name"]
    numbered_father_name = 5 + father_name # here occurs the type error int + string, hence the code will not execute
except KeyError:
    print("Error finding last name")
print("Code executed")

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [21]:
try: 
    father_name = student["father_name"]
    numbered_father_name = 5 + father_name # here occurs the type error int + string, hence the code will not execute
except KeyError:
    print("Error finding last name")
except TypeError:
    print("Cant add int and string ")
print("Code executed")

Cant add int and string
Code executed

In [22]:
try: 
    father_name = student["father_name"]
    numbered_father_name = 5 + father_name # here occurs the type error int + string, hence the code will not execute
except KeyError:
    print("Error finding last name")
except TypeError:
    print("Cant add int and string ")
except Exception: # for any kind of error which is unkonwn
    print("Unknow erro")
print("Code executed")

Cant add int and string
Code executed

In [24]:
# now what if we want to see the error
try: 
    father_name = student["father_name"]
    numbered_father_name = 5 + father_name # here occurs the type error int + string, hence the code will not execute
except KeyError:
    print("Error finding last name")
except TypeError as error: # error will show the error
    print("Cant add int and string ")
    print(error)

print("Code executed")

Cant add int and string
unsupported operand type(s) for +: 'int' and 'str'
Code executed

# Other data types

In [25]:
tuple = (1,2,3, "Akash") # immutable, value can't be changed

In [29]:
set([2,3,4,5,5,0,5,5,]) # orders and remove duplicates from the list

{0, 2, 3, 4, 5}

In [ ]:
bytes and bytesarray
set and frozenset