# Booleans

## True => TrueClass
## False => FalseClass

In [1]:
true.to_s

"true"

In [2]:
false.nil?

false

# Integer Numbers

### Numbers in ruby are represented by *object*

### Ruby has two classes to represent *integers* , they are called *fixnum* and *bignum*, both of them inherit from integer.

### Ruby will ignore any *underscore* in the number and treat it as normal number

In [3]:
a = 1234_23443_32

12342344332

# Floating Point Numbers

## They are represented by *float class* and typically have 15 digits of precision (internally they are double type in the machine)

In [4]:
a = 3.345

3.345

In [5]:
b = 0.234

0.234

In [6]:
a = 1.0e3

1000.0

In [7]:
3 + 3.45

6.45

In [8]:
def f(n)
  n += 100
end

:f

In [9]:
a = 10

10

In [10]:
f(a)

110

In [11]:
a

10

# String

In [13]:
%q('Serenity' transport)  # q stands for quote
# %q['Serenity' transport]
# %q{'Serenity' transport}
# %q<'Serenity' transport>

"'Serenity' transport"

In [14]:
%q*'Serenity' transport*

"'Serenity' transport"

In [16]:
%q/'Serenity' transport/

"'Serenity' transport"

In [17]:
'akashgiri\100gmail.com'

"akashgiri\\100gmail.com"

In [22]:
"akashgiri" + "\x40" +"gmail.com"

"akashgiri@gmail.com"

In [23]:
"akash" + "\u20ac" + "giri"

"akash€giri"

In [25]:
"akash" + "\u{20ac a3 e3f}"

"akash€£฿"

In [26]:
lander_count = 10
probe_count = 20
puts "Lander count: #{lander_count}" # interpolation code, marked with # and curly braces
puts "Total units: #{lander_count + probe_count}"

Lander count: 10
Total units: 30

In [27]:
"abc" "pqr"

"abcpqr"

In [40]:
# heredoc syntax
message = <<EOS
          There is no place
          I can be since I found serenity
EOS

"          There is no place\n          I can be since I found serenity\n"

In [37]:
message = <<-EOS
          there is no place I can be 
          since I found serenity
          EOS

"          there is no place I can be \n          since I found serenity\n"

In [38]:
message

"          there is no place I can be \n          since I found serenity\n"

## String Operators and Methods

In [41]:
"Hello"[1]

"e"

In [42]:
"Hello"[1,3]

"ell"

In [43]:
"Hello world"["or"]

"or"

In [44]:
"Hello world"["em"]

In [46]:
a = "Hello Alex"
a["Alex"] = "Joe"
a

"Hello Joe"

In [47]:
"Ha "*3

"Ha Ha Ha "

In [48]:
"%05d" % 123 # output 5 digits with leading zeros

"00123"

In [50]:
"%5d" % 123

"  123"

In [51]:
"%.8g" % 123.838576847394283948

"123.83858"

In [52]:
a = "~ 5\u{20ac}"

"~ 5€"

In [53]:
a

"~ 5€"

In [54]:
a.chars

["~", " ", "5", "€"]

In [55]:
a.codepoints

[126, 32, 53, 8364]

In [56]:
a.bytes

[126, 32, 53, 226, 130, 172]

In [57]:
a = "Akash Giri"
a.upcase()

"AKASH GIRI"

In [59]:
a.downcase()

"akash giri"

In [60]:
a = "   Akash Giri kl      "

"   Akash Giri kl      "

In [61]:
a.strip!.capitalize! # ! mark does not create a new object

"Akash giri kl"

In [62]:
"<storng><em>Hi!</em></strong>".gsub("<", "[").gsub(">", "]")

"[storng][em]Hi![/em][/strong]"

In [63]:
"1 2 3".split

["1", "2", "3"]

In [64]:
"Akas girii    igs l lk    ".split

["Akas", "girii", "igs", "l", "lk"]

In [65]:
"1->2->3->4".split("->")

["1", "2", "3", "4"]

# Regular Expressions

In [66]:
/\d+/ =~ "Level 3" # return 6, the place where digit occure

6

In [67]:
/\d+/ !~ "Level 3"

false

In [69]:
m = /(\d+):(\d+)/.match("This time is 12:13am")

#<MatchData "12:13" 1:"12" 2:"13">

In [70]:
m.pre_match

"This time is "

In [71]:
m.post_match

"am"

In [72]:
m[0] # index of 0 gives you the whole match

"12:13"

In [73]:
m[1]

"12"

In [74]:
m[2]

"13"

In [77]:
"This time is 12:14am".scan(/\d+/)

["12", "14"]

In [80]:
puts "Alex Korban".gsub(/([a-zA-Z]+) ([a-zA-Z]+)/, '\2, \1') # or "\\2,\\1"

Korban, Alex

In [82]:
s = "Password: blablaBloom123"
puts s.gsub(/(Password:)\s+(\w+)/) { |match| "#{$1} " + "*"*$2.length }

Password: **************

# Symbols

In [ ]:
attr_accessor :destination
private :batten_hatches

In [ ]:
:"abc"
:"3"

In [83]:
direction = "west"
:"turn_#{direction}"

:turn_west

In [ ]:
traverse_tree(:depth_first)

In [85]:
:abc.to_s # convert symbol to string

"abc"

In [87]:
"abc".to_sym # convert string to symbol

:abc

# Arrays

In [88]:
arr = [] # create an empty array

[]

In [92]:
a = Array.new(3)

[nil, nil, nil]

In [95]:
a = Array.new(3, true)

[true, true, true]

In [96]:
a = Array.new(3, "abc")

["abc", "abc", "abc"]

In [98]:
a.first.upcase!

"ABC"

In [99]:
a # every element has been converted to uper case because every element (i.e. all "abc") refers to the same object

["ABC", "ABC", "ABC"]

In [100]:
arr = Array.new(3) { "abc" } # using block form of new, then every element will be a new object
                              # good when creating multi dimentional array

["abc", "abc", "abc"]

In [101]:
arr.last.upcase!

"ABC"

In [102]:
arr

["abc", "abc", "ABC"]

In [103]:
arr = Array.new(3) { Array.new(3)}

[[nil, nil, nil], [nil, nil, nil], [nil, nil, nil]]

In [104]:
%w(array of words)

["array", "of", "word"]

In [105]:
%w(array of\ words)

["array", "of words"]

In [109]:
%w(array of workds  slkd sd\ lasdie as\ alaksdlkas dkas)

["array", "of", "workds", "slkd", "sd lasdie", "as alaksdlkas", "dkas"]

In [110]:
%W(1\tarray of #{2+1} words)

["1\tarray", "of", "3", "words"]

In [111]:
symbArray = %i(up down left right)

[:up, :down, :left, :right]

In [112]:
symbArray.size

4

In [113]:
symbArray.empty?

false

In [115]:
symbArray[3]

:right

In [116]:
symbArray[-1]

:right

In [117]:
arr = [1,2,3,4,5,6,7,8]
arr[1..4]

[2, 3, 4, 5]

In [118]:
arr[1..-2]

[2, 3, 4, 5, 6, 7]

In [119]:
arr[1] = "aksda"

"aksda"

In [120]:
arr

[1, "aksda", 3, 4, 5, 6, 7, 8]

In [121]:
arr[2..3] = [:three, :four]

[:three, :four]

In [122]:
arr

[1, "aksda", :three, :four, 5, 6, 7, 8]

In [123]:
arr << 13

[1, "aksda", :three, :four, 5, 6, 7, 8, 13]

In [124]:
[1,2,3] + [4,5,6]

[1, 2, 3, 4, 5, 6]

In [125]:
[2,3,4]*4

[2, 3, 4, 2, 3, 4, 2, 3, 4, 2, 3, 4]

In [127]:
[1,2,3]*"." # . will be used as seperator

"1.2.3"

In [128]:
[1,1,1,1,1,22,2,23,3,3,4,4,4,5,5,5,5,5] - [4,5]

[1, 1, 1, 1, 1, 22, 2, 23, 3, 3]

# Enumerable

In [129]:
[1,2,3].map { |v| v*10}

[10, 20, 30]

In [130]:
[1,2,3].reduce(0) { |sum,v| sum+v }

6

In [131]:
[3,4,1,2,5,4].sort

[1, 2, 3, 4, 4, 5]

In [132]:
[1, 2, 3, 4, 4, 5].select {|n| n.even? }

[2, 4, 4]

In [136]:
[1,2,3,4,5,6,7,8].each_cons(2) { |v| p v}  # p means puts

[1, 2]
[2, 3]
[3, 4]
[4, 5]
[5, 6]
[6, 7]
[7, 8]

# Hashes

## Key value pair, all methods of arrays are applicable to Hashes

In [137]:
h = {}

{}

In [138]:
h = {"min" => 0, "max" => 100 }

{"min"=>0, "max"=>100}

In [139]:
h = {min: 0, max: 100}

{:min=>0, :max=>100}

In [140]:
h[:min]

0

In [141]:
h[:min] = 1

1

In [142]:
h[:medium] = 50

50

In [143]:
h

{:min=>1, :max=>100, :medium=>50}

In [145]:
h[:notinhash] # will return nil

In [146]:
h = Hash.new(0)

{}

In [147]:
h[:a] # refers to the same object, hence use block method

0

In [148]:
h = {min: 0, max: 100}

{:min=>0, :max=>100}

In [149]:
h.each { |v| p v}

[:min, 0]
[:max, 100]

{:min=>0, :max=>100}

In [150]:
h.each { |k,v| puts "#{k}: #{v}"}

min: 0
max: 100

{:min=>0, :max=>100}

# Ranges

In [ ]:
1..5 # [1, 5]
1...5 # [1, 5)

In [155]:
(1..4).class

Range

## There are few methods on range like

In [156]:
(1..10).begin

1

In [157]:
(1..10).end

10

In [159]:
(1..10).include?(11)

false

In [161]:
(1..10).map { |v| v*2}

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [163]:
("aa".."ae").each {|v| puts v}

aa
ab
ac
ad
ae

"aa".."ae"

# Parallel Assignment and the Splat Operator

In [164]:
a,b = 1,2 # a==1, b==2

[1, 2, 3]

In [165]:
a = 1,2,3 # a==[1,2,3]

[1, 2, 3, 4, 5, 6, 7]

In [175]:
def get_values
  [1,2,3,4,5]
end

:get_values

In [176]:
first, _, _, _, last = get_values

[1, 2, 3, 4, 5]

In [177]:
first

1

In [178]:
_

1

In [179]:
last

5

In [180]:
a, *b = get_values # * is splat operator here

[1, 2, 3, 4, 5]

In [181]:
b

[2, 3, 4, 5]

In [182]:
a

1

In [183]:
a, *b, c = get_values

[1, 2, 3, 4, 5]

In [184]:
b

[2, 3, 4]

In [185]:
c

5

In [186]:
a

1

In [187]:
r = (0..10)

0..10

In [188]:
[1,2,*r]

[1, 2, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [189]:
h = {a: "a", b: "b"}
[*h]

[[:a, "a"], [:b, "b"]]